//Colors
$main-dark-color: #262526;
$main-light-color: #F2E1C2;
$accent-color-light: #F23207;
$accent-color-medium: #D9310B;
$accent-color-dark: #8C2D18;

//Fonts
$main-font: 'Montserrat', sans-serif;
$accent-font: 'Bebas Neue', sans-serif;



$duration: 0.2s;

//Media
$tablet: 1100px;
$mobile: 700px;